.general-background{
    background:linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    
    
    
    
    
    
    
    
}
.login2-background{
    max-width: 37.5rem;
    margin: auto;
    background: transparent;

    
    
    position: relative;
}







.login2-background h3{
    margin-top: 2rem;

   font-weight: 400;
    font-size: var(--h2);
    color: white;
}
.login2-background p{

    font-weight: 10;
     font-size: 1.8rem;
     color: white;
     
 }




 .login2-background div{
    margin-top: 1rem;

    margin-bottom: -5rem;


    padding-top: 0.2rem;
    text-align: center;
    
    height: 2.1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: var(--azul3);

 }
 .login2-background .estrellasP{
   
    position:absolute;
    top: 12rem;
    right: 3.8rem;
    
}
.login2-background .estrellasG{
   
    position:absolute;
    top: 17rem;
    right: 6.5rem;
    
}
 .login2-background .div3{
    padding: 1rem 0rem 0rem 1rem;
    width: 13rem;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;

    border: 0.1rem solid var(--azul4);
    background-color: white;

    position:absolute;
    top: 19rem;
    right: 3.8rem;
 }
 .login2-background .div4{
    padding: 1rem 0rem 0rem 1rem;
    width: 13rem;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;

    border: 0.1rem solid var(--azul4);
    background-color: white;

    position:absolute;
    top: 19rem;
    left: 3.8rem;
 }
 .login2-background .text{
    font-size: var(--parrafo);
    
    color: var(--gris5);
    
}
.login2-background h2{
    font-size: var(--h1);
    font-weight: 400;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
 .foto_perfil{
    width: 5.8rem;
    height: auto;
    align-self: flex-end;
    margin-top: -1rem;
 }
.login2-background div{
    width: 12rem;
   

    background-color: #FFFFFF;
}

.login2-lista_funciones{
    margin-top: 1rem;

    background-color: white;
    border-radius: 4rem 4rem 0rem 0rem;
    

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.login2-lista_funciones .div1{
    
    margin-top: 6rem;

    padding: 1rem 0rem 0rem 1rem;
    width: 14rem;
    height: 9rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
    background-color: var(--gris6);
}
.login2-lista_funciones .div2{
    margin-top: 7rem;

    padding: 1rem 0rem 0rem 1rem;
    width: 14rem;
    height: 9rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

   
    background-color: var(--gris6);
}

.login2-lista_funciones p{
    font-size: var(--parrafo);
    font-weight: 400;
    color: black;
}
